.card, .card-recommended {
  position: relative;
  overflow: hidden;
  padding: 1rem;
  width: 150px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: transparent;
}

.card {
  background-image: url('/frontend/src/Group.png');
}

.card-recommended {
  background: linear-gradient(180deg, #3A7FFF 0%, #181818 100%);
}

.card:hover, .card-recommended:hover {
  transform: scale(1.05);
}

.title {
  color: #FFF;
  text-align: center;
  font-family: Inter, serif;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  width: 100%;
  height: 31px;
  justify-content: center;
  margin-bottom: 5px;
  position: relative;
  z-index: 2;
}

.recommended-rectangle {
  width: 80px;
  height: 25px;
  border-radius: 5px 0 0 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  border-left: 1px solid rgba(255, 255, 255, 0.75);
  background: rgba(17, 17, 17, 0.50);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}

.recommended-label {
  color: #FFF;
  font-family: Inter, serif;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  flex-grow: 1;
  position: relative;
  z-index: 2;
}

.image {
  width: 75px;
  height: 75px;
  aspect-ratio: 1 / 1;
}

.amount {
  color: #F2F302;
  text-align: center;
  text-shadow: 0 0 4px #FFD469;
  font-family: Inter, serif;
  font-size: 24px;
  font-weight: 700;
}

.container-price {
  background: rgba(149, 149, 149, 0.25);
  width: 100%;
  height: 28px;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  position: relative;
  z-index: 2;
}

.price {
  color: #FFF;
  font-family: Inter, serif;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.background-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-auto-rows: 1fr;
  z-index: 0;
  pointer-events: none;
}

.grid-tile {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
}
