:host {
  display: flex;
  flex-direction: column;
  gap: var(--app-spacing-medium);
}

.search {
  width: 100%;
  border-radius: var(--app-spacing-big);
  overflow: hidden;
  position: relative;
  background: var(--app-color-background-secondary);
  border: 1px solid var(--app-color-background-tertiary);

  input {
    width: 100%;
    padding: var(--app-spacing-xsmall) var(--app-spacing-small);
    border: none;
    color: var(--app-color-text-primary);
    background: none;
    font-size: var(--app-font-size-small);
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    color: var(--app-color-text-primary);
    padding: var(--app-spacing-xsmall) var(--app-spacing-medium);
    cursor: pointer;
    font-size: var(--app-font-size-small);
    text-decoration: none;
  }
}

.gameTiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--app-spacing-big);

  > *:hover {
    transform: scale(1.05);
  }
}
