<div class="background">
  <h1 class="header">Kauf Abgeschlossen!</h1>

  <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 96 96" fill="none" id="checkmark">
      <mask id="mask0_715_8255" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="96" height="96">
        <rect width="96" height="96" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask0_715_8255)">
        <path d="M38.2004 71.9999L15.4004 49.1999L21.1004 43.4999L38.2004 60.5999L74.9004 23.8999L80.6004 29.5999L38.2004 71.9999Z" stroke="green" stroke-width="2" fill="none"/>
      </g>
    </svg>
  </div>

  <h1 class="label">Sie werden in {{timeUntilRedirecting}} Sekunden weitergeleitet</h1>
</div>
