<div class="transactions-group">

  <h1 class="transactions-title">Transaktionshistorie</h1>

  @if (groupedMonths.length == 0) {
    <p class="no-transaction-message">Keine Transaktionen sind verfügbar.</p>
  }

  <ng-container *ngFor="let month of groupedMonths">
    <h3>{{ month }}</h3>

    <div *ngFor="let tx of groupedTransactions[month];" class="transaction-row">
      <span class="icon">📄</span>
      <span class="date">{{ tx.date | date:'d. MMMM, HH:mm' }}</span>
      <span class="description">{{ tx.description }}</span>
      <span class="amount" [ngClass]="tx.amount > 0 ? 'green' : 'red'">
        {{ tx.amount > 0 ? '+' : '' }}{{ tx.amount }}
        <span>
          <img src="/images/coin.png">
        </span>
      </span>
    </div>
  </ng-container>
</div>
