<div [class]="user == null ? 'background warning' : 'background'">
  <h1 class="header">Wähle dein Mate Coin Paket aus</h1>
  @if (user == null) {
    <div class="warning-box">
      <strong>Warnung:</strong> Um etwas zu kaufen müssen Sie angemeldet sein.
    </div>
  }
  @if (selectedPackage) {
    <app-buy-confirmation-modal [product]="selectedPackage" (confirmationClosed)="handleModalClose()">></app-buy-confirmation-modal>
  }
    <div class="container">
      @if (packageService.packages.length == 0) {
        <div class="loader"></div>
      }
      <ul>
        @for (item of packageService.packages; track item.productId)
        {
          <li><app-package [package]="item" [user]="user" (packageClicked)="handlePackageClick($event)"></app-package></li>
        }
      </ul>
  </div>
</div>
