.header {
  color: #FFF;
  font-family: Inter, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 30px;
  text-align: center;
}

.background {
  padding: 10px 10px 10px 15px;
  height: 700px;
}

.background.warning{
  height: 760px;
}

.container{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 30px;
}

.active {
  visibility: visible;
}

.warning-box {
  background-color: #ffcc00;
  color: #4d2c00;
  border: 1px solid #e6b800;
  padding: 16px 20px;
  border-radius: 6px;
  font-size: 15px;
  font-family: sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  z-index: 999;
}

.warning-box strong {
  margin-right: 5px;
}


