<div class="popup">
  @if (isLaunchingLink) {
    <app-loading-spinner message="Bitte warten Sie, während wir Ihre Bestellung bearbeiten"/>
  } @else {
    <h2>{{ product.name }}</h2>
    <img src="{{product.imageUrl}}">
    <label>{{ product.amount | number:'1.0-0' }} Mate Coins</label>
    <h1 class="price">{{ product.priceAmount / 100 | number: '1.2-2' }}€</h1>
    <p>Sie werden auf eine externe Seite weitergeleitet</p>
    <button class="yes-btn" (click)="handleYes()">Kaufen</button>
    <hr>
    <button class="no-btn" (click)="handleNo()">Abbrechen</button>
  }
</div>
