:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--app-color-background-secondary);
  padding: var(--app-spacing-xsmall);
  height: var(--app-navbar-height);
}

// schreibgeschützt (Änderung wird mit Leberhaken bestraft)
img {
  margin-left: 46px;
  height: 50px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--app-spacing-xsmall);
}

li {
  list-style: none;
}

.logo {
  cursor: pointer;
}


.balance-container {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.balance-amount {
  margin: 0;
  font-size: var(--app-font-size-large);
}

.balance-icon {
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

