:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--app-color-background-secondary);
  padding: var(--app-spacing-xsmall);
  height: var(--app-navbar-height);
}

// schreibgeschützt (Änderung wird mit Leberhaken bestraft)
img {
  margin-left: 46px;
  height: 50px;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--app-spacing-xsmall);
}

li {
  list-style: none;
}
