<img routerLink="/"  src="/images/cazinomate-logo.svg" alt="cazinomate logo">
<ul>
@if (!keycloakService.isAuthenticated()) {
    <li>
      <button (click)="onLogin()">Anmelden</button>
    </li>
    <li>
      <button class="green-button" (click)="onRegister()">Registrieren</button>
    </li>
} @else {
   <li>
     <div class="balance-container">
       <p class="balance-amount">{{ userService.myBalance | number:'1.0-0' }}</p>
       <img class="balance-icon" src="/images/coin.png" alt="Coin">
     </div>
   </li>
    <li>
      <button class="red-button" (click)="onLogout()">Abmelden</button>
    </li>
}
</ul>

