@if(isLoading){
  <div class="loading-screen">

    <div class="game-tile">
      <img [src]="gameMetadata.previewImageUrl">
      <div style="--preview-bg-color: {{gameMetadata.previewHexColor}};"></div>
    </div>

    <h4 style="--color: {{gameMetadata.previewHexColor}};">Das Spiel wird geladen...</h4>
    <app-progress-bar [gameMetaData]="gameMetadata" style="--bg-color: {{gameMetadata.previewHexColor}};--percentage: {{progress + '%'}}"></app-progress-bar>

  </div>
}
<app-game [gameMetaData]="gameMetadata" (loadingProgressUpdate)="handleProgressUpdate($event)"></app-game>
