<div class="logos">
  <div class="logos-slide">
    @for (sponsor of service.sponsors; track sponsor.id) {
      <a href="{{sponsor.url}}" target="_blank" rel="noopener noreferrer">
        <img class="logo" [src]="(sponsor.imageUrl)" [alt]="sponsor.name">
      </a>
    }
  </div>

  <div class="logos-slide">
    @for (sponsor of service.sponsors; track sponsor.id) {
      <a href="{{sponsor.url}}" target="_blank" rel="noopener noreferrer">
        <img class="logo" [src]="(sponsor.imageUrl)" [alt]="sponsor.name">
      </a>
    }
  </div>

  <div class="logos-slide">
    @for (sponsor of service.sponsors; track sponsor.id) {
      <a href="{{sponsor.url}}" target="_blank" rel="noopener noreferrer">
        <img class="logo" [src]="(sponsor.imageUrl)" [alt]="sponsor.name">
      </a>
    }
  </div>

  <div class="logos-slide">
    @for (sponsor of service.sponsors; track sponsor.id) {
      <a href="{{sponsor.url}}" target="_blank" rel="noopener noreferrer">
        <img class="logo" [src]="(sponsor.imageUrl)" [alt]="sponsor.name">
      </a>
    }
  </div>
</div>
<div class="overlay"></div>
