:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--app-navbar-height)*2);
}
main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--app-spacing-medium);
  width: 400px;
  height: fit-content;
  background: var(--app-color-background-secondary);
  border: 1px solid var(--app-color-background-tertiary);
  padding: var(--app-spacing-big);
  border-radius: calc(var(--app-spacing-xsmall) / 2);
}
