<main>
  <h1>Einstellungen</h1>

  <div class="container">
    <div class="overview">
      <app-pseudo-text-input label="E-Mail" [placeholder]="user.email" [isVerified]="user.emailVerified"></app-pseudo-text-input>
      <app-pseudo-text-input label="Benutzername" [placeholder]="user.username" [isEditable]="true" [settingsBox]="usernameBox"></app-pseudo-text-input>
      <app-pseudo-text-input label="Passwort" [isEditable]="true" [isPassword]="true" [settingsBox]="passwordBox"></app-pseudo-text-input>
    </div>

    <div class="settings_box" #usernameBox>
      <span>
        <label>Aktueller Benutzername</label>
        <input type="text" value="{{user.username}}" disabled>
      </span>
      <span>
        <label>Neuer Benutzername</label>
        <input type="text" #newUsername>
      </span>
      <div class="buttons">
        <button class="red-button" (click)="closeUsernameBox()">Zurück</button>
        <button class="green-button" (click)="closeUsernameBox(true)">Speichern</button>
      </div>
    </div>

    <div class="settings_box" #passwordBox>
      <span>
        <label>Neues Passwort</label>
        <input type="password" #newPassword>
      </span>
      <span>
        <label>Passwort wiederholen</label>
        <input type="password" #repeatedNewPassword>
      </span>
      <div class="buttons">
        <button class="red-button" (click)="closePasswordBox()">Zurück</button>
        <button class="green-button" (click)="closePasswordBox(true)" [disabled]="!newPasswordsAreEqual()">Speichern</button>
      </div>
    </div>

  </div>
</main>
