@if (payoutItemResponse == null){
<div class="popup">
    <h2>{{ payoutItem?.name }}</h2>
    <img src="{{payoutItem?.imageUrl}}">
    <div class="currency-container">
      <p>{{ payoutItem?.cost | number:'1.0-0' }}</p><img class="currency" src="/images/coin.png">
    </div>
    <button class="yes-btn" (click)="handleYes()">Kaufen</button>
    <hr>
    <button class="no-btn" (click)="handleNo()">Abbrechen</button>
</div>
} @else {
  <div class=" popup popup-end">
    <h2>{{payoutItem?.name}} wurde erfolgreich gekauft für {{payoutItem?.cost | number: '1.0-0'}} MateCoins</h2>
    <img src="{{payoutItem?.imageUrl}}">
    <p>Rewe 100% Coupon Code:</p>
    <p class="selectable">{{payoutItemResponse.code}}</p>
    <button class="yes-btn" (click)="handleNo()">OK</button>
  </div>
}
