.container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--app-color-background-secondary);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 230px;
  height: auto;
  pointer-events: none;
  opacity: 0.33;
}

h1 {
  margin-bottom: 5px;
}

.container.active {
  opacity: 100;
  pointer-events: auto;
}

.container button {
  width: 100%;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background 0.2s ease-in-out;
}

.yes-btn {
  background: white;
  color: black;
  pointer-events: none;
  opacity: 0.33;
}

.yes-btn.active {
  pointer-events: auto;
  opacity: 1;
}

input {
  width: 100%;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
  color: white;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  placeholder {
    color: rgba(255, 255, 255, 0.25);
  }
}

.errorMessage {
  display: none;
  justify-content: center;
  color: red;
  opacity: 0;
  font-weight: bold;
  margin-top: 5px;
}

.errorMessage.enabled {
  opacity: 1;
  display: flex;
}
