:root {
  --app-color-background-primary: #272727;
  --app-color-background-secondary: #313131;
  --app-color-background-tertiary: #4E4E4E;
  --app-color-text-primary: white;
  --app-color-text-secondary: #c5c5c5;
  --app-color-red: #CD5353;
  --app-color-green: #16B858;
  --app-color-red: #f00;

  --app-font-size-gigantic: 25px;
  --app-font-size-normal: 16px;
  --app-font-size-small: 13px;
  --app-font-size-xsmall: 10px;

  --app-spacing-xxxsmall: 2px;
  --app-spacing-xxsmall: 5px;
  --app-spacing-xsmall: 10px;
  --app-spacing-small: 15px;
  --app-spacing-medium: 20px;
  --app-spacing-big: 25px;

  --app-margin-left-to-sidebar: 90px;

  --app-transition-time-medium: 0.3s;

  --app-navbar-height: 55px;
}

* {
  margin: 0;
  padding: 0;
  font-size: var(--app-font-size-normal);
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: var(--app-color-text-primary);
  background: var(--app-color-background-primary);
  font-family: Inter;
}

svg {
  height: 100%;
  fill: var(--app-color-text-primary)
}

button {
  color: var(--app-color-text-primary);
  padding: var(--app-spacing-small) var(--app-spacing-medium);
  border-radius: calc(var(--app-spacing-small)/2);
  font-weight: bold;
  font-size: 14px;
  background: none;
  cursor: pointer;
  transition: var(--app-transition-time-medium);
  border: 1px solid var(--app-color-background-tertiary);
  background: var(--app-color-background-primary);
}

.green-button {
  background-color: var(--app-color-green);
  border-color: var(--app-color-green);
}
.red-button {
  background-color: var(--app-color-red);
  border-color: var(--app-color-red);
}

button:hover:enabled {
  border-color: var(--app-color-background-tertiary);
  background: var(--app-color-text-primary);
  color: var(--app-color-background-primary);
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.green-button:hover:enabled {
  background-color: var(--app-color-background-primary);
  color: var(--app-color-text-primary);
}
.red-button:hover:enabled {
  background-color: var(--app-color-background-primary);
  color: var(--app-color-text-primary);
}
.red-button {
  background-color: var(--app-color-red);
}

.clickable {
  cursor: pointer;
}
