<div id="topWrapper">
  <div>
    <h2>CazinoMate</h2>
    <p>© {{ currentYear }} CazinoMate.de | Alle Rechte vorbehalten</p>
  </div>
  <ul>
    <li><a href=""><img src="/images/twitter-logo.svg" alt="twitter icon"></a></li>
    <li><a href=""><img src="/images/insta-logo.svg" alt="insta icon"></a></li>
    <li><a href=""><img src="/images/youtube-logo.svg" alt="youtube icon"></a></li>
  </ul>
</div>
<hr>
<div id="midWrapper">
  <ul>
    <h3>Casino</h3>
    @for (gameMetadata of gameMetaDataService.gameMetadatas; track gameMetadata.id) {
      <li>{{gameMetadata.title}}</li>
    }
  </ul>
  <ul>
    <h3>Support</h3>
    <li>
      <a href="">Hilfezentrum<img src="/images/link-external-icon.svg" alt="Hilfezentrum link"></a>
    </li>
    <li>
      <a href="">Glücksspiel-Beratungsstelle<img src="/images/link-external-icon.svg" alt="Hilfezentrum link"></a>
    </li>
  </ul>
  <ul>
    <h3>Über uns</h3>
    <li>Datenschutz</li>
    <li>Nutzungsbedingungen</li>
  </ul>
</div>
<hr>
<div id="bottomWrapper">
  @for (sponsor of sponsorService.getVipSponsors(); track sponsor.id) {
    <img [src]="sponsor.imageUrl" [alt]="sponsor.name">
  }
</div>
